.vscode/
tests/
**/__pycache__
.env
output/images/*
output/data/*
output/.cache
!output/data/auto-commitsExample.json
!output/data/User-statsExample.json
!output/data/YYYY-MM-DDExample.json
*copy*
GitStats.egg-info
README.md